/* GENERAL SETINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-color: #E5E5E5;
    --tt-color: #29292E;
    --icon-color: #323238;
    --button-bg-color: #E1E1E6;
    --active-btn-bg-color: #02799D;
    --ff-text: 'Roboto', sans-serif;
    
    
    --dark-bg-color: #121214;
    --dark-main-color: #C4C4CC;
    --dark-card-color: #29292E;
    --dark-card-active-color: #0A3442;
}

body {
    font-family: var(--ff-text);
    position: relative;
}

.hide {
    display: none;
}

body button.btn-light-mode,
body button.btn-dark-mode
{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    margin: 6rem;
    top: 0;
    right: 0;
}

/* PAGES */


.page {
    max-width: 100rem;
    height: 100vh;
    margin: 0 auto;
    display: flex;

    place-content: center;
    justify-content: center;
    align-items: center;
    gap: 19rem;

}

.page .timer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
}

.page .timer-wrapper span{
    font-size: 12.6rem;
    font-weight: 500;
    color: var(--tt-color);
}

.page .timer-wrapper .btnTimer {
    display: flex;
    gap: 4rem;
}

.page .timer-wrapper .btnTimer button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.page .card-wrapper {
    display: grid;
    grid-template-areas: 
    "A B"
    "C D";
    gap: 3.2rem;
}


/* CARDS */

.card-wrapper .card .active {
    background: var(--active-btn-bg-color);
}

.card-wrapper .card{
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2.4rem;
}


.page .card-wrapper .btnCard {
    background: transparent;
    border-radius: 2.4rem;
    border: none;
    cursor: pointer;
}

.card-wrapper .card input[type="range"] {
    -webkit-appearance: none;
    width: 100px;
    height: 7px;
    background: #323238;
    border-radius: 5px;
    margin-top: 3.2rem;
}   

.card-wrapper .card input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #323238;
}




/* Transição de cores dos cards */
.card-wrapper .card.active button svg path{
    fill: white;
}

.card-wrapper button svg path{
    fill: #323238;
}

.not-active {
    background-color: var(--button-bg-color);
}

.active {
    background-color: var(--active-btn-bg-color);
}

.card-wrapper .card input[type="range"].active {
    background: white;
}   

.card-wrapper .card input[type="range"]::-webkit-slider-thumb .active {
    background: white;
}



/* DARK MODE */

body.dark-mode {
    background-color: var(--dark-bg-color);
}

.page .timer-wrapper .timer span.dark-mode { 
    color: white;
}

.btnTimer button.dark-mode svg path {
    fill: var(--dark-main-color);
}

.card-wrapper .card.dark-mode {
    background-color: var(--dark-card-color);
}

.card-wrapper .card.dark-mode svg path{
    fill: var(--dark-main-color);
}

.card-wrapper .card.dark-mode.active{
    background-color: var(--dark-card-active-color);
}

.card-wrapper .card.dark-mode.active svg path {
    fill: white;
} 

.card-wrapper .card input[type="range"].dark-mode {
    background: white;
}   

.card-wrapper .card input[type="range"]::-webkit-slider-thumb.dark-mode {
    background: white;
}